.conteiner {
    width: 100%;
    height: 100vh;
    background-color: rgb(89, 89, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 30%;
    height: 70vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-image: linear-gradient(45deg, black, #000000c7, #000000ab, #0000005e, #00000000, transparent);
}

.display {
    width: 100%;
    height: calc(100% - 80%);
    display: flex;
    justify-content: end;
    align-items: center;
}

h2 {
    color: white;
    position: relative;
    right: 3rem;
}

.contButtons {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: .5rem;
}
.contButtons div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.buttons {
    background-color: rgb(18, 18, 18);
    border: 1px solid rgba(0, 0, 0, 0.089);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.buttons:hover{
    cursor: pointer;
}

#arrow {
    transform: rotate(180deg);
}

.operationals{
    color: orange;
    font-size: 1rem;
    font-weight: bolder;
}

.line{
    width: 100%;
    height: .05rem;
    background-color: orange;
    opacity: .3;
}